
body {
    background-color:rgb(209, 196, 196);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .login-container {
    background-color: white;
    
    padding: 20px;
    
    height: 350px;
    width: 450px;
   
    
  }

  
  #logo{
      margin-left: 20px;
      width: 90px;
  }
  


  #next
  {
     margin-left: 260px; 
     width: 100px;
     color:white;
     background-color:rgb(41, 41, 206) ;
     border: none;
     height: 30px;

  }
.login-container h3{
    font-size:small;
}

